:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* TODO think how to handle when choice is already selected */
/* button:disabled {
  cursor: default;
  border: unset;
} */

.correct {
  border: 1px solid greenyellow;
  transition: box-shadow 0.5s;
}
.correct:focus {
  outline: 1px solid greenyellow;
}
.correct:hover {
  border: 1px solid greenyellow;
  box-shadow: 0 0px 10px 0 greenyellow;
}

.incorrect,
.incorrect:hover {
  border: 1px solid red;
  transition: box-shadow 0.5s;
}
.incorrect:focus {
  outline: 1px solid red;
}
.incorrect:hover {
  border: 1px solid red;
  box-shadow: 0 0px 10px 0 red;
}

.optionContainer {
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;

  button {
    max-width: 150px;
  }
}

dialog:open {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: self-end;
}

#close {
}

#resultContainer {
  max-height: 300px;
  overflow-y: auto;
  width: inherit;
  margin: 16px 0;
}

input[type="radio"]:disabled + label {
  cursor: not-allowed;
  opacity: 0.2;
  color: gray;
}

input[type="radio"] {
  accent-color: #9749d6;
}

fieldset {
  border-radius: 8px;
  margin: 6px;
}

.fieldsetContainer {
  display: flex;
  margin-top: 32px;
}

.answerInfo {
  display: flex;
  justify-content: space-evenly;
  transition:
    visibility 0s linear 0.7s,
    opacity 0.7s ease-in-out;
}

.answerInfo.visible {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}
.answerInfo.hidden {
  opacity: 0;
  visibility: hidden;
}

.mainWord {
  font-size: xxx-large;
  margin-bottom: 32px;
}

.correctAnswer,
.yourAnswer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.answerHeader {
  align-self: normal;
  font-weight: 700;
}

.bottomButtonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.infoContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
  font-size: large;
}

.prevPoints {
  margin-bottom: 32px;
}
